body{
    margin: 0;
    padding: 0;
    
    background-attachment: fixed;
    background-color: 141414;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
   
}

.shapka{
    background-color: 141414;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
}


.logotipe{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5vw;
    font-size: 80px;
    font-weight: 1200;
    color: azure;
    font-family: Impact, italic;
}

.Header_inner img{
    width: 4vh;
    height: 4vh;
    border-radius: 20%;
    margin-right: 5vw;
}    

.Header_inner{
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    
}
nav{
    margin-left:3%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80rem;
    text-transform: uppercase;
    font-family: 'AcromBold';
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    
}
.nav_link{
    
    font-weight:  bolder;
    font-family: HELVETICA , serif;
    font-size: 2.5vh;
    color: azure;
    
    text-decoration: none;
    
    transition: color .2s linear;   
}

.nav_link:hover{
    color: white;
}

a.underline:after {
  content: '';
  display: block;
  
  bottom: 15%;
  background: white;
  height: 5%; 
  width: 0%; 
  z-index: -1; 
  transition: width 0.8s, opacity 0.8s, box-shadow 0.8s; 
  border-radius: 10px;
  opacity: 0; 
  box-shadow: 0 0 16px rgba(42,157,143,0);
}

a.underline:hover:after {
  width: 100%;
  opacity: 1;
}
a.underline:after {
  left: 0;
  right: 0;
  margin: 0 auto;
}





@keyframes predstavlenie{
    0%{
    color: transparent;
    
  }
}

.underline2{
    display: inline-block;
    position: relative;
    
    text-align: right;
    
    font-size: 2.5vh;
    font-family: Montserrat , sans-serif;
    font-weight: 600;
    line-height: 350%;
    width: 100%;
    
    text-decoration: none;
    text-transform: uppercase;
    color: azure;   
}

.underline2:after{
    margin-left: 40%;
    content: '';
    display: block;
    position: absolute;
    background-color: azure;
    top: 80%;
    width: 0%;
    height: 4px;
    transition: width .3s ease-in; 
}

.underline2:hover:after {
    width: 60%;
}

.u3:after{
    margin-left: 0%;
}

.u3:hover:after {
    width: 100%;
}

aside{
    display: block;
    height: 150%;
    width: 10%;
    float: left;
    margin-left: 1.8%;
    margin-top: 2%;
    
}
.bok{
    position: sticky;
    top: 20px;
    display: block;
    
    text-align: right;
}


.bok a{
    text-transform: uppercase;
    text-align: right;
    
    height: auto;
    width: 19vh;
    line-height: 350%;
    
    font-size: 2.5vh;
    font-family: Montserrat , sans-serif;
    font-weight: 600;
    
    color: azure;
    
    
    text-decoration: none;   
}



.product{
    margin-left: 17%;
    margin-right: 2%;
    margin-top: 2%;
    
    display: flex;
    
    height: auto;
    max-width: 100%;    
}

.union{
    margin-left: 1%;
}

.ramka{
    border: 2px solid ;
    border-color: #363636 ;
    padding: 3vh;
    border-radius: 10px;
    background-color: #1d1d1d;  
}

.ramka2{
    background-color: #141414;
    border-radius: 10px;
}

.ramka3{
    margin-top: 8%;
    border: 2px solid ;
    border-color: #363636 ;
    padding: 3vh;
    border-radius: 10px;
    background-color: #1d1d1d;
    
}
.slider{
    margin-left: 2px;
    border-radius: 10px;
    width: 80vh;
    height: 60vh;
    overflow: hidden;
    -webkit-filter: drop-shadow(3px 5px 5px #000);
    filter: drop-shadow(3px 5px 5px #000);
}


.navigation img{
    height: 20%;
    width: 20%;
}
    
.navigation{
    padding: 2vh;
    margin-top: 5%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-width: 90%;
    margin-left: 3%;
}
/*background-image: url(E:\Файлы html css\zaglushka.jpg) ;*/
.bar{
    height: 2vh;
    width: 15%;
    
    border-radius: 10px;
    cursor: pointer;
    background-color: darkgrey;
    
    opacity: 0.7;
    transition: all .4s ease;
}

.bar:hover {
    opacity: 1;
    transform: scale(1.1); 
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 400%;
    height: 100%;
    display: flex;
}

.slide{
    width: 25%;
    transition: all .6s ease;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}
.opisanie1{
    position: sticky;
    top: 30px;

    margin-left: 4%;
    margin-right: 4%;
    width: 40%;
    height: 35%;
    
    float: left;
    text-decoration: none;
    font-family: Montserrat , sans-serif;
    color: azure;
     
}

.opisanie_producta{
    font-size: 6vh;
    font-family: HELVETICA , serif;
    font-weight: 600;
    margin-top: 2vh;
    padding: 0;
}
.opisanie_zvezdi{
    font-size: 2.5vh;
    margin-top: 12%;
}

.opisanie_tsena{
    font-size: 4vh;
    margin-top: 10%;
}

.scetchik{
    margin-top: 5%;
    background-color: dimgrey;
    display: inline-block;
    border-radius: 10px;
}

.scet{
    padding: 1vw;
    position: relative;
    display: inline-block;
}

.opisanie_prikol{
    display: inline-flex;
    align-items: center;
    font-family: HELVETICA , serif;
    font-size: 3vh;
    border-radius: 6px;
    background-color: #363636;
    margin-top: 15%;
    color:aliceblue;
    border-color:#1d1d1d;
    height: 5vh;
    margin-bottom: 5vh;
    padding: 3vh;
    margin-left: 1vh;
}

.Zagolovok{
    margin-bottom: 5vh;
    padding:0;
    margin-top: 1vh;
    font-size: 5vh;
    
    font-family: HELVETICA , serif;
    text-decoration: none;
    color: azure;
}

.ot{
    margin-left: 5%;
}

.opisanie_opisanya{
   font-size: 2.5vh;
    margin-bottom: -1%;
}

.Zagolovok2{
    padding:0;
    font-size: 3vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-family: HELVETICA , serif;
    text-decoration: none;
    color: azure;
}

.opisanie2{
    position: sticky;
    
    display: block;
    
    font-size: 2.2vh;
    
    
    text-decoration: none;
    font-family: Montserrat , sans-serif;
    color: azure;
}
.mini{
    margin-top: 7vh;
}


#blablabla {
    display: none;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}
  
#blablabla.open {
    display: block;
}
  
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 17, 17, 0.5);
    transition: all 0.5s ease;
    display: none;
}
  
.popup_open {
    display: block;
}
  
.popup__container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    max-width: 32vw;
    width: 100%;
    height: 27vw;

    border-radius: 6px;
    background-color: #363636;
    color:aliceblue;
    border-color:#1d1d1d;
}
  
.popup__wrapper {
    padding: 40px;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

label{
    font-size: 3vh;
    font-family: HELVETICA , serif;
    display:flex;
    flex-direction: column;
    margin-top: 1vh;
}

.btn{
    margin: 0;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 15vw;
    padding: 5vh;
    font-family: HELVETICA , serif;
    font-size: 3vh;
    border-radius: 6px;
    background-color: #363636;
    color:aliceblue;
    border-color:#1d1d1d;
    height: 5vh;
}

input{
    border-radius: 6px;
    background-color:darkgrey; 
}




footer{
    font-family: HELVETICA , serif;
    text-align: center;
    color: floralwhite;
    position: sticky;  
    margin-top: 30vh;
}

footer img{  
    display: inline-block;
    margin: 20;
    height: auto;
    width: 100%;
    max-width: 40px;
    vertical-align: middle;
}

#sizecss{
    position: absolute;
    margin-top:70vh;
    margin-left: 70vw;
}

@media screen and (max-width: 1280px ){
    .Header_inner a{
        font-size: 19px;
    }
    .Header_inner p{
        font-size: 50px;
    }
    .bok a{
        font-size: 16px;
        margin-right: 3vw;
    }
    aside{
        margin-left: 0px;
    }
    .opisanie_zvezdi{
        font-size: 21px !important; 
    }
    .opisanie1 p{
        font-size: 2.8vh;  
    }
    .union{
        width: 80%;
        height: 80%;
    }
    .slider{
        width: 80%;
        height: 80%;
        margin-left: 10%;
    }
    .buttons button{
        font-size: 20px;
        margin-bottom: 0vh;
        margin-left: 0%;
        margin-top: 2vh;
    }
    .opisanie2 p{
        font-size: 2.8vh; 
    }
}